# Build artifacts
*.elf
*.bin
*.hex
*.lst
*.map
*.o
generated_*.ld

# ...but keep the released bootloader binary
!firmware/bin/noknok_bootloader.bin
!firmware/bin/noknok_stage0.bin
!firmware/bin/noknok_stage1.bin
